<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag("gh-logo.png", width: "30", height: "30", class: "d-inline-block align-text-top") %>
      GitHub
    </a>
  </div>
</nav>
